  
* {
margin: 0;
padding: 0px;
background-color: #c4a7e7;
font-family: 'Fresca', sans-serif;
}

li {
font-size: 1.5rem;
list-style-type: none;
background-color: #907aa9;
color: #2a273f;
margin-right: 3rem;
margin-bottom: 2rem;
}

.top  {
display: flex;
flex-direction: flex-row;
justify-content: flex-end;
background-color: #907aa9;
}

.container {
font-size: 22px;
color: #2a273f;
display: grid;
grid-template-columns: minmax(0px, auto)1fr;
grid-template-rows: 5rem 1fr 5rem;
grid-template-areas: 
      's h'
      's m'
      's f';
width: 100vw;
height: 100vh;
}

header {
background-color: #907aa9;
padding: 10px;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

header a:hover {
color: #f2e9de;
}

header a {
text-decoration: none;
color: #2a273f;
}

.sidebar {
grid-area: s;
background-color: #907aa9;
padding: 5px;
}

.main {
grid-area: m;
background-color: #c4a7e7;
font-size: 2rem;
}

footer {
background-color: #907aa9;
padding: 10px;
grid-column: 1 / -1;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

textarea {
margin: 10px;
max-width: 500px;
}

.textinput  {
height: 300px;
width: 500px;
background-color: #9ccfd8;
border-radius: 5px;
caret-color: #ea9a97;
font-size: 2rem;
}

.slide {
display: inline-block;
background-color: #f6c177;
border-radius: 10px;
border: 4px double #e0def4;
color: #26233a;
text-align: center;
font-size: 28px;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.slide span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.slide span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.slide:hover {
background-color: #ebbcba;
}

.slide:hover span {
padding-right: 25px;
}

.slide:hover span:after {
opacity: 1;
right: 0;
}



/* media query for mobile devices */
@media screen and (max-width: 600px) {
}