

* {
margin: 0;
font-family: 'Fresca', sans-serif;
font-size: 10px;
}

html {
  background-color: #e0def4;
}

html.dark {
  background-color: #2a273f;
}

body {
  background: var(--bck-color);
  padding: 10%;
  margin-left: 90px;
}

.fas  {
color: #2a273f;
font-size: 40px;
}

.conintenteditable  {
font-size: 25px;
color: #31748f;
}

.conintenteditable > div{
font-size: 25px;
color: #1f1d2e;
}

.conintenteditable > div:first-child{
font-size: 25px;
color: #1f1d2e;
}

.conintenteditable:focus{
outline: none;
}

li {
font-size: 2.5rem;
list-style-type: none;
background-color: #907aa9;
margin-right: 3rem;
margin-bottom: 2rem;
}

.top {
display: flex;
flex-direction: flex-row;
justify-content: flex-end;
background-color: #907aa9;
}

.container {
font-size: 22px;
display: grid;
grid-template-columns: minmax(0px, auto)1fr;
grid-template-rows: 5rem 1fr 5rem;
grid-template-areas: 
      's h'
      's m'
      's f';
width: 100vw;
height: 100vh;
}

header {
grid-area: h;
background-color: #907aa9;
margin-right: 70px;
}

.sidebar {
grid-area: s;
background-color: #907aa9;
padding: 5px;
margin-right: 70px;
}

.sidebar ul {
overflow: auto;
background-color: #907aa9;
}

.main {
grid-area: m;
background-color: #c4a7e7;
font-size: 2rem;
margin-right: 70px;
}

#textarea {
margin: 10px;
max-width: 500px;
}

#text {
height: 300px;
width: 675px;
background-color: #9ccfd8;
border-radius: 5px;
caret-color: #ea9a97;
font-size: 2rem;
}

button {
background-color: #f6c177;
border-radius: 10px;
border: 4px double #e0def4;
font-size: 2rem;
margin-top: 5px;
margin-bottom: 10px;
margin-right: 10px;
height: 50px;
width: 120px;
transition: all 0.5s;
cursor: pointer;
}

button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

button:hover {
background-color: #e0def4;
}

button:hover span {
padding-right: 25px;
}

button:hover span:after {
opacity: 1;
right: 0;
}

.text-btns {
display: flex;
justify-content: start;
}



footer {
grid-area: f;
background-color: #907aa9;
display: flex;
justify-content: center;
margin-right: 70px;
}

footer p {
color: #2a273f;
font-size: 2rem;
}



/* media query for desktop */
@media screen and (max-width: 1200px) {
 * {
 font-size: 13px;
  }

 button {
 height: 50px;
 width: 85px;
  }

 .container {
 display: grid;
 grid-template-rows: 5rem 8rem 1fr 5rem;
 grid-template-areas: 
      'h h'
      's s'
      'm m'
      'f f';
  }

 .sidebar {
 display: flex;
 justify-content: center;
  }

 .sidebar ul {
 margin-left: 5px;
  }

 #textarea {
 max-width: 100vw;
  }

 #text {
 height: 300px;
 width: 500px;
 background-color: #9ccfd8;
 border-radius: 5px;
 caret-color: #ea9a97;
 font-size: 2rem;
  }

 .main {
 display: flex;
 justify-content: center;
  }

}

/* media query for mobile devices */
@media screen and (max-width: 600px) {
 *  {
 font-size: 13px;
  }

 button   {
 height: 50px;
 width: 85px;
  }

 .container {
 display: grid;
 grid-template-rows: 5rem 8rem 1fr 5rem;
 grid-template-areas: 
      'h h'
      's s'
      'm m'
      'f f';
  }

 .sidebar  {
 display: flex;
 justify-content: center;
  }

 .sidebar ul  {
 margin-left: 5px;
  }

 #textarea  {
 max-width: 100vw;
  }

 #text{
 height: 150px;
 width: 275px;
 background-color: #9ccfd8;
 border-radius: 5px;
 caret-color: #ea9a97;
 font-size: 2rem;
  }

 .main   {
 display: flex;
 justify-content: center;
  }

}