  
* {
margin: 0;
padding: 0px;
background-color: #c4a7e7;
font-family: 'Fresca', sans-serif;
}

li {
list-style-type: none;
margin-right: 5rem;
margin-bottom: 3rem;
background-color: #907aa9;
}

.container {
font-size: 22px;
color: #2a273f;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 10vh 90vh 5vh
}

header {
background-color: #c4a7e7;
padding: 10px;
grid-column: 1 / -1;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: flex-end;
}

header a:hover {
color: #f2e9de;
}

header a {
text-decoration: none;
color: #2a273f;
}

.sidebar {
background-color: #907aa9;
padding: 10px;
height: 100%;
grid-column: 2 / 1;
}

.content {
background-color: #c4a7e7;
padding: 80px;
grid-column: 3/ -1;
}

footer {
background-color: #c4a7e7;
padding: 10px;
grid-column: 1 / -1;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

textarea {
margin: 30px;
max-width: 500px;
background-color: #f6c177;
border-radius: 10px;
border: 4px double #e0def4;
color: #26233a;
text-align: center;
font-size: 28px;
padding: 10px;
width: 100px;
}

.slide {
display: inline-block;
background-color: #f6c177;
border-radius: 10px;
border: 4px double #e0def4;
color: #26233a;
text-align: center;
font-size: 28px;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.slide span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.slide span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.slide:hover {
background-color: #ebbcba;
}

.slide:hover span {
padding-right: 25px;
}

.slide:hover span:after {
opacity: 1;
right: 0;
}

label {
display: flex;
flex-direction: row;
margin-bottom: 10px;
}

/* media query for desktop*/
@media screen and (min-width: 1025px) {
.container {
font-size: 25px;
color: #2a273f;
display: grid;
grid-template-columns: repeat(8, 2fr);
grid-template-rows: 10vh 90vh 5vh
    }

.slide {
display: inline-block;
background-color: #f6c177;
border-radius: 10px;
border: 4px double #e0def4;
color: #26233a;
text-align: center;
font-size: 28px;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
    }

.slide span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }

.slide span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

.slide:hover {
    background-color: #ebbcba;
    }

.slide:hover span {
    padding-right: 25px;
    }

.slide:hover span:after {
    opacity: 1;
    right: 0;
    }
}

/* media query for mobile devices */
@media screen and (min-width: 320px) and (max-width: 767px) {
.container {
font-size: 18px;
color: #2a273f;
display: grid;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: 10vh 90vh 5vh
    }

.slide {
line-height: 2;
padding: 0 10px;
font-size: 1.1rem;
color: #26233a;
background-color: #eb6f92;
    }
}